*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
section{
	
}
.container{
	width:90%;
	margin:auto;
	border:2px solid #ff9900;
	border-radius:5px;
}
.row{
	display:flex;
}
.col1{
	width:50%;
	padding:10px;
}
.col2{
	width:50%;
	padding:15px;
}
.col1 img{
	max-width:100%;
}
.card{
	display:flex;
	justify-content:space-around;
	
}
p{
	display:inline;
}
.log{
	position:relative;
	margin-bottom:10px;
}
.log h1{
	font-size:50px;
	padding:10px;
	
}
.log h1::after{
	content:"";
	width:70px;
	height:2px;
	position:absolute;
	background-color:#000000;
	top:120px;
	left:0;
}
.log p{
	font-size:25px;
}
.log a{
	font-size:25px;
	padding:0 10px;
	color:#ff9900;
	text-decoration:none;
}
input{
	display:block;
	width:80%;
	padding:13px 20px;
	margin:auto;
}
button{
	font-size:20px;
	width:80%;
	margin:0 60px auto;
	padding:20px;
	background-color:#ff9900;
	color:#ffffff;
	border:#ff9900;
}
#span1,#span2,#span3{
	width:80%;
	height:10px;
	margin:23px  auto;
	padding-bottom:10px;
}

	
	
	